/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.no-wrap {
    white-space: nowrap;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-color {
    background-color: #4E5D6C !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75);
}

.album {
    background-color: #899aa9;
}

.custom-select {
    font-family: inherit;
}


.characters-album-header {
    text-align: center !important;
    padding-bottom: 1rem !important;
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    box-sizing: border-box;
}

.main-position {
    position: inherit;
    margin-top: 80px;
}

.filtering-label {
    color: white;
}

/* Provide sufficient contrast against white background */

.btn-album-option {
    width: 180px;
    height: 60%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

body.background {
    background-color: #2B3E50;
}

div.background {    
    background-size: cover;
}

div.transbox {
    background-color: black; /*rgba(100,0,0,50);*/
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

textarea {
    width: inherit;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-color: lightgrey;
    grid-auto-rows: min-content;
    color: #495057;
}

.force-to-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.parent-button {
    font-size: 14px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    background-color: #6bc5e1;
    color: #fff;
    border: 1px solid transparent;
    font-weight: 500;
    border-radius: 0.25rem;
}
    .parent-button:hover {
        background-color: #41b5d8;
    }


#info {
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
}

.scrollbar {
    float: left;
    height: 600px;
    width: 250px;
    overflow-y: scroll;
    /*border: 2px solid darkgrey;*/
}

.force-overflow {
    min-height: 450px;
}

#wrapper {
    text-align: center;
    width: 500px;
    margin: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;    
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.modal-header {
    padding: 2px 16px;
    background-color: #566776;
    color: white;
}

/* Modal Content */
.modal-content-a {
    position: relative;
    background-color: #3f5a73;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    height: 230px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.btn-add-relationship {
    width: 160px;
    height: 40px;
    border: 1px solid transparent;
    font-size: 1.2375rem;
    font-weight: 500;
    border-radius: 0.25rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.add-parent-modal-header {
    font-size: 20px;
    padding: 15px 16px;
    background-color: #566776;
    color: white;
}

.add-parent-button {
    position: absolute;
    right: 14px;
    width: 180px;
    height: 40%;   
    border: 1px solid transparent;
    font-size: 1.2375rem;
    font-weight: 500;
    border-radius: 0.25rem;    
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.confirm-password-btn {    
    width: 120px;
    height: 35%;
    border: 1px solid transparent;
    font-size: 1.2375rem;
    font-weight: 500;
    border-radius: 0.25rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.add-parent-button:hover {
    background-color: #41b5d8;
}

.confirm-password-btn:hover {
    background-color: #41b5d8;
}

.blue-btn {
    background-color: #6bc5e1;
    color: #fff;
    border: 1px solid transparent;
    font-size: 1.2375rem;
    font-weight: 500;
    border-radius: 0.25rem;
}

    .blue-btn:hover {
        background-color: #41b5d8;
    }


.save-btn {
    width: 100%;
    height: 45px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.btn-relation-char {
    width: 100%;
    height: 25px;
    border: 1px solid transparent;
    font-size: 0.9375rem;
    font-weight: 500;
    border-radius: 0.25rem;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: #d5eef6;
}

    .btn-relation-char:hover {
        background-color: #41b5d8;
    }

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.card-body {
    background-color: #e9ecef;
}

.card {
    background-color: #e9ecef;
}


img {
    max-width: 100%;
    max-height: 100%;
}  

.gallery-item{
    height: 380px;
}

.need-password {
}

.btn-delete-char{

}

.password-modal-content {
    justify-content: center;
    text-align: center;
}
    


