@model List<ImageViewModel>

<!--Carousel Wrapper-->

<link rel="stylesheet" href="https://mdbootstrap.com/api/snippets/static/download/MDB-Pro_4.13.0/css/mdb.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="https://z9t4u9f6.stackpathcdn.com/wp-content/themes/mdbootstrap4/css/compiled-4.13.0.min.css">


<div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
        <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!--/.Controls-->
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color"></li>
        <li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color"></li>
        <li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides and lightbox-->

    <div class="carousel-inner mdb-lightbox" role="listbox">
        <div id="mdb-lightbox-ui"></div>
        <!--First slide-->
        <div class=" carousel-item active text-center">

            @{
                var imageCounter = 0;
            }

            @foreach (var image in Model)
            {
                @if(imageCounter == 3)
                 {
                     @:</div>
                     @: <div class=" carousel-item text-center">
                 }

            <div class="col-md-4 d-md-inline-block gallery-item">
                <a href="@Url.Action("FullSizeImage", "Home", image)">
                    <img src="@image.ImageData" class="img-fluid">
                </a>
            </div>
                imageCounter++;
            }

        </div>
    </div>
</div>
<!--/.Carousel Wrapper-->