@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="text-white">
    <br>
    <h4>Czym jest Shyiama?</h4>
    Jest to nadnaturalna moc wszystkich ras ludzkich. Jest widoczna pod postacią dymu, jej barwa jest zależna od koloru oczu posiadacza. Po doskonałym opanowaniu może być używana bez widoczności dla oka. Pełni najważniejszą funkcję w organizmie człowieka. Przy utracie dużej ilości krwi Shyiama może ją zastąpić. Jest używana bez przerwy przez każdego dorosłego, najczęściej do podnoszenia przedmiotów na odległość.  W związku z tym, że rasy Avesów i Davenów zostały stworzone przez władców jako pierwsze, ich przedstawiciele posiadają naturalnie więcej Shyiamy niż pozostałe rasy. Pierwsza dziesiątka ludzi każdej rasy powstały z Shyiamy władców Hadsvika i Nebeliusa. Dlatego nie istnieje w Wordenii człowiek o Shyiamie potężniejszej, niż królewska.
    <br>

    <h4>Jak działają Errary?</h4>
    W trakcie akcji Czarnego Pióra Wordenya ma około 1800 Errarów, drugie światy istnieją od 1300 Errarów. Alaric jest w wieku 1272 Errarów. Errar to największa jednostka czasu w Wordenii. Na jej podstawie oceniany jest również wiek. Pierwszy Errar życia człowieka odpowiada fizycznie wiekowi siedmiu lat śmiertelnika. W wieku trzech Errarów człowiek zostaje prawnie pełnoletni. Pełna fizyczna dojrzałość jest osiągana w wieku pięciu Errarów, po czym pozostaje niezmienna. W wieku piętnastu Errarów człowiek osiąga pełną dojrzałość psychiczną. Jeden Errar trwa w przybliżeniu dwa miliony lat.
    <br>

    <h4>Czym jest Cyider?</h4>
    Jest jedynym tolerowanym przez organizm Davenów i Avesów napojem, nie licząc medykamentów i czystej wody. Przy odpowiedniej ilości pomaga zachować stabilność emocjonalną i fizyczną oraz poprawia nastój. Przy skrajnym przedawkowaniu powoduje skutki podobne do zatrucia alkoholowego.
    <br>

    <h4>Czym są „przepisowe” fryzury?</h4>
    Każdy ze światów posiada listę legalnych fryzur dla ich mieszkańców, utworzoną przez władców wszechświata. Drobne odstępstwa od normy są akceptowalne, pod warunkiem zachowania najważniejszej zasady — stopnia zakrycia czoła. Jest on zależny od typu charakteru człowieka, który jest sprawdzany zaraz po ukończeniu pełnoletności. Ekstrawertycy powinni mieć fryzurę odkrywająca czoło, introwertycy zakrywającą.
    <br>


    <h4>Jak w Wordenii wyznaczane są kierunki, skoro nie ma tam słońca?</h4>
    Hadenya:<br>
    Pomimo że bezpośrednie źródło światła nie jest widoczne zza wiecznych chmur, a stopień jego natężenia nie zmienia się w ciągu doby, kierunek jego padania jest zmienny. Pierwsza doba rozpoczyna się w momencie, gdy cień znajduje się na stopniu 0. Druga, gdy znajduje się na stopniu 500. Na początku istnienia Hadenii głównym punktem orientacyjnym był zamek królewski. Znajdował się on na wybrzeżu, więc nie było potrzebne oznaczanie stopni biegnących w kierunku oceanu. Po rozrośnięciu się Stolicy stopnie te stały się istotne. Aby nie zmieniać skali, zamieniono je na liczby ujemne.
    <br>
    <br>
    Nebelia:<br>
    Była stworzona później po Hadenii, więc przyjęto tam tę samą skalę, rozpoczynając od punktu zamku. Pominięto jednak stopnie ujemne w związku z brakiem oceanu. Godziny doby przebiegają podobnie, jednak natężenie światła lekko słabnie w trakcie czterech ostatnich godzin doby.
    <br>
    <br>
    Wikanya i Vamperia:<br>
    Doba składa się z pory ciemnej oraz pory jasnej, dlatego kierunki mogą być określane na podstawie wschodu i zachodu źródła światła. Jasna pora doby trwa dwadzieścia pięć godzin.
    <br>

    <h4>Dlaczego niektórzy bohaterowie używają powiedzeń „na Cresieff Rai”, „do Xyliousa” lub „Kreshta”?</h4>
    Cresieff Rai oznacza stwórcę człowieka.
    Nikt tak naprawdę nie wie, co znaczy „kreshta”. Król Hadsvik tak mawiał, gdy był zdenerwowany, więc przyjęło się to w wojsku.
    Xylious jest chorobą układu nerwowego przenoszoną przez zwierzęta posiadające własny rodzaj „Shyiamy”. Choroba jest nieuleczalna.
    <br>

    <h4>Jak funkcjonuje wojsko Hadenii i Nebelii?</h4>
    Struktura sił zbrojnych Hadenii i Nebelii jest bardzo podobna. Różni się jedynie nazwami dywizji.
    Wojsko składa się z sześciu dywizji. Każda otrzymała nazwę od jednego z okręgów otaczających Stolicę i posiada głównego dowódcę.<br>
    1. Hentrix (Dywizja obrony terytorialnej) Dowódca — Eyhan Corells.<br>
    2. Hatson (Dywizja ochrony wewnętrznej) — Arlen Nyves (wcześniej Narvaez Blaze)<br>
    3. Horin (Dywizja kawalerii) — Deras Synix<br>
    4. Hirlen (Dywizja logistyczna) — Aheran Vannis<br>
    5. Huver (Dywizja piechoty) — Jimenzis Vannis<br>
    6. Hixer (Dywizja górska) — Frossard Clave<br>
    <br>

    Stopnie wojskowe poszczególnych jednostek:<br>
    L (szeregowiec) — bez przynależności do dywizji<br>
    P (plutonowy)<br>
    N (podporucznik) — zostaje wybrana przynależność do dywizji<br>
    C (porucznik)<br>
    Następuje wybór z dwóch ścieżek:<br>
    F (frontowy) — walka na froncie<br>
    A (półkownik) — ścieżka taktyczna.<br>
    G (generał) Stopień zostaje przyznany tylko wybitnym jednostkom. Generałem brygady może zostać frontowy lub półkownik. Nikt nie może być mianowany generałem dywizji, chyba że jeden z sześciu dowódców nie będzie mógł dłużej pełnić tej funkcji.<br>
    <br>

    <h4>Czy w Vamperii i Wikanii mimo zakazu wciąż nie powstały żadne siły zbrojne?</h4>

    Rebelianckie wojska Oscara Glena funkcjonują poza prawem. W Vamperii za zgodą stwórców powstała prywatna organizacja militarna „Saher Grei”. Jej wytrenowani członkowie (wszystkich czterech ras) mogą być odpłatnie wynajęci przez każdego mieszkańca światów nieuskrzydlonych.<br>

    <h4>Jaką rasą mieszkańca Wordenii jestem?</h4>
    Możesz się tego dowiedzieć, rozwiązując quiz pod prywatnym linkiem:<br>
    <a>quizme.pl/q/apocalyptus/jaka-rasa-mieszkanca-wordenii-jestes</a>

</div>
