@model ImageViewModel

    <div class="container">

        <div class="pt-5">
            <a href="@Url.Action("FullSizeImage", "Home", Model)">
                <img src="@Model.ImageData" class="img-fluid">
            </a>
        </div>

    </div>



