

<div id="savePasswordModal" class="modal">
        <div class="modal-content-a" width="200px">
            <div class="add-parent-modal-header">
                <text>Podaj hasło</text>
                <span id="close-get-pass" class="close">&times;</span>
            </div>
            <div class="modal-body">
                   <div class="row">                    
                    @*<div class="col-md-1 mb-3">*@
                        <label for="Password">Hasło:</label>
                        <input type="text" class="form-control" id="Password">
                    @*</div>*@
                </div>

                <input id="confirm-password" type="button" class="add-parent-button" value="Ok" />
            </div>
        </div>
</div>

