
<div id="savePasswordModal" class="modal">
    <div class="modal-content-a" width="200px">
        <div class="add-parent-modal-header">
            <text>Podaj hasło</text>
            <span id="close-get-pass" class="close">&times;</span>
        </div>
        <div class="modal-body password-modal-content">
            Hasło: @Html.Password("Password")
            <div class="row mt-3 password-modal-content">
                <input id="confirmPasswordBtn" type="button" class="confirm-password-btn" value="Ok" />
            </div>

        </div>
    </div>
</div>

